<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container board-container">
    <h1>게시판</h1>
    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="write : ${writeList}">
            <td th:text="${write.id}"></td>
            <td>
                <a th:href="@{|/write/${write.id}|}" th:text="${write.subject}"></a>
            </td>
            <td th:text="${write.writer}"></td>
            <td th:text="${#temporals.format(write.getCreateTime(), 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <div class="pagination-container">
        <button class="board_write" onclick="location.href='/write/create'">질문 등록 하기</button>
        <div class="pagination">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
        </div>
    </div>
</div>


</body>
</html>



