<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>회원가입</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>
<div class="write-container">
  <h1>회원가입</h1>
  <form method="post" th:action="@{/user/signup}" th:object="${userDto}">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div>
      <label for = "username">사용자ID</label>
      <input type="text" th:field ="*{username}">
    </div>
    <div>
      <label for="password1">비밀번호</label>
      <input type = "password" th:field="*{password1}">
    </div>
    <div>
      <label for="password2">비밀번호 확인</label>
      <input type ="password" th:field="*{password2}">
    </div>
    <div>
      <label for="email">이메일</label>
      <input type ="email" th:field="*{email}">
    </div>
    <input type="submit" value = "회원가입" class="board_write">
  </form>
</div>
</body>
</html>